@import "../styles/common";

$mobileWidth: 64em;

@media (min-width: $mobileWidth) {

  .UserRoot .UserRoot-content {
    display: flex;
  }

  .Dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;

    /* This only works on webkit browsers :( pls fix */
    ::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba($md-green-500, 0.87);
    }

    .CheckpointsSection {
      flex-grow: 1;
      margin: 16px;

      overflow: scroll;
      overflow-x: hidden;
    }
    .DashboardRight{
      margin: 16px;
      display: flex;
      flex-direction: column;

      @media (max-width: 75em) {
        width: 256px;
      }
      @media (min-width: 75em) {
        width: 512px;
      }

      /*.FriendsSection {}*/
      .EventsWarpper, .FlightsWarpper {
        margin-top: 16px;
        flex-grow: 1;
        height: 0;
        overflow: auto;
      }
    }
  }
}
@media (max-width: $mobileWidth) {
  .Dashboard {
    width: 100%;
  }
  .DashboardRight {
    margin: 0 32px;
  }
  .FriendsSection {
    margin-top: 16px;
  }
  .Events {
    margin-top: 16px;
  }
}