@import "../styles/variables";
@import "../styles/media";

.Dashboard {
  padding-top: 56px;

  &-left {
    margin: 0;

    @include min-sm {
      margin: 16px;
    }

    @include min-md {
      margin-left: 16px;
      margin-right: 32px;
      padding-right: 352px;
    }

    @include min-lg {
      padding-right: 512px;
    }
  }

  &-right {
    .Events, .Flights {
      flex: 1;
      margin: 16px 0;
    }

    @include max-md {
      .Events-list, .Flights-list {
        overflow: visible;
      }
    }

    @include min-md {
      .FriendsSection-list {
        overflow: scroll;
        overflow-x: hidden;
        max-height: 202px;
      }
    }

    @include max-sm {
      margin-top: 32px;
    }

    @include min-sm {
      @include max-md {
        margin: 16px;
      }
    }

    @include min-md {
      width: 352px;

      position: fixed;
      right: 16px;
      top: 72px;
      bottom: 0;

      display: flex;
      flex-direction: column;
    }

    @include min-lg {
      width: 512px;
    }
  }

  .CheckpointsSection {
    @include max-sm {
      .CheckpointsListSection {
        & > h2 {
          margin-left: 8px !important;
        }
      }
    }

    @include max-md {
      .CheckpointsSection-header {
        margin: 0;

        .CheckpointsSection-title h1 {
          font-size: 20px;
          line-height: 32px;
        }
      }

      .CheckpointsListSection {
        & > h2 {
          margin-left: 0;
          margin-right: 0;
        }

        .CheckpointsListItem {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
