html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.72);
}

h3 {
  font-size: 14px;
}

h4, p, li {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.72);
}

img {
  width: 192px;
}