@import "../styles/variables";

.CheckpointForm {
  &-buttons {
    display: flex;
  }

  &-button {
    margin-left: auto;
  }

  .LinearProgress {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}