@import "../styles/variables";

.CheckpointsList {
  &-no-items {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.32);
    margin: 32px;
  }
}

.CheckpointsListSection {
  h2 {
    font-size: 13px;
    font-weight: 500;
    color: $md-dark-text-secondary;

    margin: 16px 32px;
  }

  .CheckpointsListItem:nth-child(2) {
    margin-top: 0;
  }
}
