@import "../styles/variables";

.CheckpointsListItem {
  &-title {
    font-weight: 500;
  }

  &-divider {
    margin: 0 4px;
  }

  &-wrapper {
    display: flex;
  }

  &-text {
    @include text-ellipsis;
  }

  &-icons {
    display: flex;
    margin-left: auto;

    .Icon {
      width: 32px;
      height: 32px;
    }
  }

  &-date {
    margin-left: 8px;
    margin-right: 4px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.32);
  }

  &-completed.Icon {
    color: $md-green-300;
  }
}