@import "../styles/variables";

.CheckpointsSection {
  margin: 0 auto;

  h1 {
    font-size: 28px;
  }
  .Panel {
    margin: 8px;
  }

  &-list.Panel {
    padding: 0;
    margin: 0 32px;

    h1 {
      padding: 16px;
    }
  }
}