@import "../styles/variables";

.CheckpointsSection {
  padding: 32px 0;
  margin: 0 auto;
  width: 50%; // temp
  min-width: 600px; // temp

  h1 {
    font-size: 28px;
  }

  .Panel {
    margin: 8px;
  }

  &-list.Panel {
    padding: 0;
    margin: 0 32px;

    h1 {
      padding: 16px;
    }
  }
}