@import "../styles/variables";

.ConfirmDialog {
  &-content {
    @include content-text;
  }

  &-buttons {
    display: flex;
    margin-top: 8px;

    .Button:first-child {
      margin-left: auto;
    }

    .Button:last-child {
      margin-left: 8px;
    }
  }
}