@import "../styles/variables";

.Dropdownlist {
  min-width: 192px;
  position: absolute;

  .selected > .ListItem {
    background-color: $md-light-blue-50;
  }

  .ListItem {
    display: flex;
    align-items: center;

    .name {
      margin-left: 8px;
      @include text-ellipsis;
    }
  }

  .display {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}