@import "../styles/variables";

.Events {
  display: flex;
  flex-direction: column;

  &-title {
    flex: none;
  }

  &-list {
    flex: 1;
    overflow: auto;

    .ListItem {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.EventDescription {
  margin: 12px;

  h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 8px;
  }

  span {
    @include content-text;
  }
}