.FileUpload {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;

  .DropText {
    line-height: 200px;
  }

  .Button {
    align-self: center;
    width: 100px;
    margin: 4px;
  }
}
