@import "../styles/variables";

.FileUpload {
  cursor: pointer;

  &-dropzone {
    position: relative;

    width: 128px;
    height: 128px;

    border: 2px dashed $md-grey-500;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;

    &--active {
      color: $md-green-500;
      border-color: $md-green-500;
    }
  }
}
