@import "../styles/variables";

.FriendsSection {
  .FriendsSection-heading {
    border-bottom: 1px solid $md-dark-text-dividers;

    h1 {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .FriendsSection-list {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 202px;
  }
}