@import "../styles/variables";
@import "../styles/media";

.Header {
  /*position: fixed;*/
  width: 100%;
  background-color: $md-green-500;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
  z-index: 1000;

  &-content {
    display: flex;
    height: 56px;
    padding: 0 16px;
    line-height: 56px;
    color: $md-light-text-primary;
  }

  &-title {
    font-family: 'Raleway';
    font-weight: 300;

    @include max-sm {
      display: none;
    }

    @include min-sm {
      font-size: 24px;
    }

    @include min-md {
      font-size: 32px;
      letter-spacing: 1px;
    }
  }

  &-logout {
    margin-left: 16px;
    font-size: 16px;
    color: $md-light-text-primary;
    transition: color 0.2s ease;

    &:hover {
      color: $md-green-100;
    }

    @include max-xs {
      margin-left: 0;
      font-size: 14px;
    }
  }

  .SearchBar {
    @include min-sm {
      width: 384px;
    }

    @include max-xs {
      margin-right: 12px;
    }
  }

  .HeaderUser {
    &-picture {
      @include max-xs {
        display: none;
      }
    }
  }
}