@import "../styles/variables";

.Header {
  position: fixed;
  width: 100%;
  background-color: $md-green-500;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);

  &-content {
    display: flex;
    height: 56px;
    padding: 0 16px;
    line-height: 56px;
    color: $md-light-text-primary;
  }

  &-title {
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 1px;
  }

  &-user {
    margin-left: auto;
    margin-right: 16px;
    font-size: 22px;
    font-weight: 300;
  }

  &-logout {
    margin-left: 16px;;
    font-size: 16px;
    color: $md-light-text-primary;
    transition: color 0.2s ease;

    &:hover {
      color: $md-green-100;
    }
  }
}