@import "../styles/variables";

.IconButton {
  border: 0;
  background: none;
  cursor: pointer;

  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;

  transition: background-color 0.2s ease,
              color 0.2s ease;

  &--default:not(&--disabled) {
    color: $md-dark-text-primary;

    &:hover {
      color: $md-green-700;
    }
  }

  &--primary:not(&--disabled) {
    background-color: $md-green-600;
    color: $md-light-text-primary;

    &:hover {
      background-color: $md-green-700;
    }
  }

  &--primary.IconButton--disabled {
    background-color: $md-light-green-200;
  }

  &--raised {
    box-shadow: 0 2px 5px 0 rgba($md-black, 0.26);
  }

  &--raised.IconButton--disabled {
    background-color: rgba($md-black, 0.12);
  }

  &--disabled {
    cursor: default;
  }
}