@import "../styles/variables";

.InkRipple {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.RippleElement {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  .InkRipple--Normal & {
    background: radial-gradient(circle, rgba($md-green-300, 0.4), rgba($md-green-300, 0));
  }

  .InkRipple--Light & {
    background: radial-gradient(circle, rgba($md-green-100, 0.4), rgba($md-green-100, 0));
  }

  .InkRipple--Dark & {
    background: radial-gradient(circle, rgba($md-green-500, 0.6), rgba($md-green-500, 0));
  }

  &.ripple-enter {
    opacity: 0.01;
    width: 0;
    height: 0;

    &.RippleElement--Slow {
      transition: all 400ms ease;
    }

    &.RippleElement--Fast {
      transition: all 200ms ease;
    }

    &-active {
      opacity: 1;
      width: 120%;
      height: 120%;
    }
  }

  &.ripple-leave {
    opacity: 1;
    width: 120%;
    height: 120%;

    &.RippleElement--Slow {
      transition: all 200ms ease;
    }

    &.RippleElement--Fast {
      transition: all 100ms ease;
    }


    &-active {
      opacity: 0;
    }
  }

  &--left, &--right {
    &.ripple-enter {
      &-active {
        width: 200%;
        height: 200%;
      }
    }

    &.ripple-leave {
      width: 200%;
      height: 200%;
    }
  }
}