@import "../styles/variables";

.Input {
  position: relative;
  padding: 16px 0;
  margin-bottom: 8px;

  label {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    top: 20px;
    left: 0;
    color: $md-dark-text-disabled;
    pointer-events: none;
    transition: color 0.2s ease,
                transform 0.2s ease;
    transform-origin: top left;
  }

  input, textarea {
    background: none;
    border: none;
    padding: 4px 0;
    width: 100%;
    border-bottom: 1px solid $md-dark-text-dividers;
    margin-bottom: -1px;
    transition: border-bottom-color 0.2s ease;
  }

  textarea {
    resize: none;
    line-height: 18px;
    min-height: 64px;
  }

  &-input {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: $md-green-500;
      opacity: 0;
      transition: all 0.3s ease;
    }
  }

  &--focused {
    label {
      color: $md-green-500;
    }
  }

  &--focused &-input:after {
    width: 100%;
    opacity: 1;
  }

  &--focused, &--has-value {
    label {
      transform: translateY(-20px) scale(0.75);
      font-weight: 500;
    }
  }

  &--error {
    input, textarea {
      border-bottom-color: $md-red-500;
    }
  }

  &-error {
    position: absolute;
    font-size: 11px;
    bottom: 0;
    color: $md-red-500;
  }
}