@import "../styles/variables";

.ListItem {
  position: relative;
  padding: 8px;
  line-height: 32px;
  background-color: $md-grey-50;
  @include text-ellipsis;
}

.List {
  &--Raised .ListItem {
    @include shadow;
  }

  &--Raised .ListItem.ExpandableListItem--selected {
    border-bottom: none !important;
  }

  &--Flat .ListItem {
    border: 1px solid $md-dark-text-dividers;
  }
}

.ExpandableListItem {
  user-select: none;
  cursor: pointer;
  margin: 0 32px;
  padding: 0;
  transition: margin 0.4s ease,
              padding-bottom 0.4s ease;

  &-content {
    padding: 8px;
    position: relative;
    transition: padding 0.4s ease;
    @include text-ellipsis;
  }

  &--selected {
    margin: 32px 0;
    padding: 0;
  }

  &--selected &-content {
    padding: 12px;
  }

  &--selected.ExpandableListItem--expanded &-content {
    border-bottom: 1px solid $md-dark-text-dividers;
  }

  &-body {
    position: absolute;
    width: 100%;
    white-space: normal;
    user-select: initial;
    cursor: initial;

    h3 {
      user-select: none;
    }
  }
}