@import "../styles/variables";

.ListItem {
  position: relative;
  padding: 8px;
  line-height: 32px;
  background-color: $md-grey-50;
  @include shadow;
  @include text-ellipsis;
}

.ExpandableListItem {
  user-select: none;
  margin: 0 32px;
  padding: 0;
  transition: margin 0.4s ease,
              padding-bottom 0.4s ease;

  &-content {
    padding: 8px;
    position: relative;
    @include text-ellipsis;
  }

  &--selected {
    margin: 32px 0;
    padding: 0;
    border-bottom: none !important;
  }

  &--selected &-content {
    padding: 12px;
  }

  &--selected.ExpandableListItem--expanded &-content {
    border-bottom: 1px solid $md-dark-text-dividers;
  }

  &-body {
    position: absolute;
    width: 100%;
    white-space: normal;
  }
}