@import "../styles/variables";

.Login {
  min-width: 256px;
  max-width: 100%;
  min-height: 320px;

  &-actions {
    margin: 16px 0;
    text-align: center;

    a {
      font-size: 16px;
      text-decoration: none;
      color: $md-dark-text-primary;
    }
  }

  &-panel.Panel {
    padding: 16px;
  }

  &-separator {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-line {
      font-size: 24px;
      font-weight: 400;
      margin: 12px 0;
      position: relative;
      color: $md-dark-text-secondary;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 40%;
        height: 1px;
        background: $md-light-text-primary;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  &-email {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
  }

  &-form {
    min-height: 384px;
  }
}