.Overlays {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  z-index: 5000;
  transition: all 0.01s ease 0.2s;

  &--active {
    width: 100%;
    transition: none;
  }


  .overlay-enter {
    opacity: 0.01;
  }

  .overlay-enter.overlay-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  .overlay-leave {
    opacity: 1;
  }

  .overlay-leave.overlay-leave-active {
    opacity: 0.01;
    transition: opacity 0.2s ease;
  }

  .Overlay {
    width: 100%;
    height: 100%;
    position: absolute;

    &--opaque {
      background-color: rgba(0,0,0,0.7);
    }
  }
}