@import "../styles/variables";

.Profile {
  margin: 0 16px;

  &-subtitle {
    font-size: 24px;
  }

  &-settings, &-friend-requests {
    margin-top: 32px;
  }

  .FriendRequests {
    margin-top: 8px;
  }
}

.FriendRequests {
  &-item {
    display: flex;
    align-items: center;

    &:hover {
      /*background-color: $md-light-blue-50;*/
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &-picture {
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
  }

  &-label {
    /*cursor: pointer;*/
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &-name {
    font-size: 16px;
    margin-left: 8px;
  }

  &-buttons {
    flex: none;
    margin-left: auto;
  }

  &-accept {
    color: $md-green-500 !important;
  }

  &-reject {
    color: $md-red-500 !important;
  }
}