@import "../styles/variables";

.SearchBar {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    background-color: white;
    line-height: 16px;

    &-Dropdown {
        width: 95%;
        .Input {
            padding-top: 8px;
            padding-bottom: 0px;
            input {
                padding-left: 8px;
            }
        }
    }

    .Button {
        background-color: #e0e0e0;
        color: $md-light-green-700 !important;
    }

    &-List {
        color: black;

        .display {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    &-ResultIcon {
        margin: 4px;
    }

    
}