@import "../styles/variables";

.SearchBar {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  background-color: white;
  line-height: 32px;
  border-radius: 4px;

  &-Dropdown {
    width: 95%;

    .Input {
      padding: 0;
      margin: 0;

      input {
        padding-left: 12px;
      }
    }
  }

  .IconButton {
    color: $md-green-500 !important;
  }

  &-List {
    color: $md-dark-text-primary;

    .display {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}