@import "../styles/variables";

.UserProfile {
  margin-bottom: 32px;

  &-checkpoints {
    margin-top: 32px;
    max-width: 896px;
    margin-left: auto;
    margin-right: auto;

    &-title {
      margin: 0 32px;
      font-size: 24px;
    }
  }

  .ProfileBanner {
    margin: 8px 32px;
  }
}