@import "../styles/variables";

.UserProfile {
  margin-bottom: 32px;

  &-checkpoints {
    margin-top: 32px;

    &-title {
      margin: 0 32px;
      font-size: 24px;
    }
  }

  .ProfileBanner {
    margin: 8px 32px;
  }

  .CheckpointsList {
    max-width: 768px;
  }
}