@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: $md-green-700;

  &:hover, &:active {
    color: $md-green-700;
  }
}

form {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}