@import "../../node_modules/material-colors/dist/colors";

@mixin shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); // Angular Material Whiteframe
}

@mixin shadow-dark {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12); // Angular Material Whiteframe 8dp
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin content-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}