@import 'styles/variables';
@import 'styles/common';

body {
  margin: 0;
  background-color: $md-grey-300;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}